/* 保单管理 */

/* common */

html,
body {
    height: 100%;
    font-family: "Microsoft Yahei";
}

body {
    background: #f0f0f0;
    color: #666;
    font-size: 1.3rem;
    position: relative;
}

a {
    color: inherit;
}

button,
input,
select {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    font-size: inherit;
}

.g-wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.g-section {
    background: #fff;
    margin: 0 1.4rem;
    border-radius: 1rem;
    box-shadow: 0px 0.3rem 1.0rem 0px rgba(179, 179, 179, 0.2);
}

.g-pd {
    padding: 1.5rem 1.2rem;
}

.g-content {
    margin: 0 1.4rem;
}

.spc-bt {
    justify-content: space-between;
    align-items: center;
}

.txt-els {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.two-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.common-title {
    font-weight: normal;
    font-size: 1.9rem;
    color: #333;
    padding: 0 1.4rem;
    margin: 2.6rem 0 1rem;
    line-height: 1.5em;
}

.common-title .btn-rt {
    font-size: 1.4rem;
    float: right;
}

/* 新保单列表 */

.my-policy-wrap {
    padding-bottom: 1rem;
}

.hav-nav-wrap {
    padding-top: 4.5rem;
}

.my-policy-wrap .policy-item {
    margin: 0 1.2rem;
    padding: 2rem 0;
    border-bottom: 1px solid #e2e5e7;
    position: relative;
}

.my-policy-wrap .policy-item:last-of-type {
    border-bottom: none;
}

.my-policy-wrap .policy-item h3 {
    font-size: 1.6rem;
    color: #333;
    font-weight: normal;
    align-items: center;
    margin-bottom: 0.4rem;
}

.my-policy-wrap .policy-item h3 p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.my-policy-wrap .policy-item h3 .status {
    font-size: 1.1rem;
    color: #8c7fee;
    background: #efeeff;
    line-height: 1.6;
    padding: 0 0.5rem;
    font-style: normal;
    margin-left: 0.5em;
    white-space: nowrap;
}

.my-policy-wrap .policy-item h3 .status.red {
    color: #ff5a6e;
    background: #ffe5e8;
}

.my-policy-wrap .policy-item h3 .status.gray {
    background: #f0f0f0;
    color: #999;
}

.my-policy-wrap .policy-item .desc {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.my-policy-wrap .policy-item .desc .red-font {
    color: #ff5a6e;
}

.my-policy-wrap .policy-item .btn-group {
    text-align: right;
}

.my-policy-wrap .policy-item .btn-group .btn {
    display: inline-block;
    min-width: 9rem;
    border-radius: 0.4rem;
    line-height: 3.0rem;
    border: 1px solid #e2e5e7;
    text-align: center;
    margin-left: 0.8rem;
}

.my-policy-wrap .policy-item .btn-group .btn-purple {
    border-color: #8c7fee;
    color: #8c7fee;
}

.my-policy-wrap .policy-item .btn-group .btn-red {
    border-color: #ff5a6e;
    color: #ff5a6e;
}

.my-policy-wrap .policy-item .policy-logo {
    width: 12rem;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 5.5rem;
}

.my-policy-wrap .policy-item .user-entering {
    width: 8.9rem;
    position: absolute;
    right: 1rem;
    top: 7rem;
}

.my-policy-wrap .btn-area {
    text-align: center;
    padding: 3.5rem 0 2.5rem;
}

.my-policy-wrap .btn-new-policy {
    color: #8c7fee;
}

.my-policy-wrap .btn-more {
    display: block;
    font-size: 1.6rem;
    text-align: center;
    line-height: 3.1;
    margin: 0 -1.2rem -1.5rem;
    background: #f9f9f9;
    border-radius: 0 0 1rem 1rem;
}

.my-policy-wrap .recommand-tips {
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
}

.header-nav {
    line-height: 4.5rem;
    height: 4.5rem;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    max-width: 750px;
    z-index: 99;
}

.header-nav a {
    color: #333;
}

.header-nav a em {
    color: #ff5a6e;
}

.header-nav a span {
    display: inline-block;
    position: relative;
}

.header-nav a span:before {
    content: "";
    width: 100%;
    height: 0.3rem;
    background: none;
    border-radius: 0.3rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header-nav a.active span:before {
    background: #8c7fee;
}

.entrance-area {
    padding: 1rem 1.2rem;
    color: #8c7fee;
    line-height: 2;
}

.policy-list .policy-item {
    border-bottom: none;
    margin-bottom: 1.8rem;
    padding: 1.8rem 1.2rem;
}

.btn-check {
    display: block;
    text-align: center;
    background: #fff;
    line-height: 3.1;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    border: 1px solid #ddd;
    color: #666;
}

.btn-check>* {
    display: inline-block;
    vertical-align: middle;
}

.btn-check .icon-arrow {
    width: 0.8rem;
    height: 1.1rem;
    background: url("https://sslstatic.xiaoyusan.com/h5/img/my/family/icon-arrow.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 0.6rem;
}

/* 底部状态 */

.bottom-area {
    padding: 0 1.2rem;
}

.bottom-area .tips {
    font-size: 1.2rem;
    color: #999;
    text-align: center;
    padding-top: 1rem;
}

/* 无保单 */

.mod_no {
    display: none;
    min-height: 30%;
    text-align: center;
    color: #3c3c3c;
    font-size: 1.4rem;
}

.mod_img {
    width: 6.5rem;
}

.mod_txt {
    padding: 1.5rem;
}

.list {
    width: 100%;
}

.listItem {
    width: 100%;
    background-color: red;
    height: 26rem;
}