<div className="head grid middle">
    <div className="head_img">
        <a href="https://www.xiaoyusan.com/UserProfile/index/home/main">
            <img src="//sslstatic.xiaoyusan.com/h5/img/my/top_logo.jpg" alt="">
        </a>
    </div>
    <div className="col-1">
        <p className="head_txt">130****3570</p>
        <a className="head_link"></a>
        <a className="menber_privilege" href="/privilege/index?from=my" data-track="my_vip">
            <b>V1</b>会员专属特权&gt;</a>
    </div>
    <a className="to_store row" href="/score">
        <div>积分商城</div>
        <div className="score" >我的积分
            <span>0</span>
        </div>
    </a>
</div>